@import url(./_reset.css);
@import url(./_var.css);
@import url(./_codemirror-overrides.css);

* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    overflow: hidden;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
}

#app {
    height: 100%;
    display: flex;
}

.btn {
    border: 2px solid transparent;
    padding: 0px 16px;
    font-size: 14px;
    height: 32px;
    font-weight: bold;
    min-width: 80px;
    background: #333333;
    color: white;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    border: 2px solid rgb(143, 143, 143);
}

.side-bar {
    padding-top: 30px;
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: transparent;
    overflow: hidden;
    z-index: 50;
    background: var(--sidebar-bg-color);
}

.side-bar.open {
    width: 260px;
}

.side-bar__item {
    display: block;
    clear: both;
    position: relative;
    cursor: pointer;
}

.side-bar__item .side-bar__icon {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: var(--sidebar-text-color);
    display: inline-block;
}

.side-bar__item#menu .side-bar__icon {
    mask: url('./../icons/menu.svg') no-repeat 50% 50%;
    -webkit-mask: url('./../icons/menu.svg') no-repeat 50% 50%;
}

.side-bar__item#file .side-bar__icon {
    mask: url('./../icons/file.svg') no-repeat 50% 50%;
    -webkit-mask: url('./../icons/file.svg') no-repeat 50% 50%;
}

.side-bar__item#settings .side-bar__icon {
    mask: url('./../icons/settings.svg') no-repeat 50% 50%;
    -webkit-mask: url('./../icons/settings.svg') no-repeat 50% 50%;
}

.side-bar__item#add_file .side-bar__icon {
    mask: url('./../icons/add.svg') no-repeat 50% 50%;
    -webkit-mask: url('./../icons/add.svg') no-repeat 50% 50%;
    -webkit-mask-size: 17px;
    mask-size: 17px;
}

.side-bar__item#close_file {
    display: none;
}

.side-bar__item#close_file .side-bar__icon {
    mask: url('./../icons/close_file.svg') no-repeat 50% 50%;
    -webkit-mask: url('./../icons/close_file.svg') no-repeat 50% 50%;
    -webkit-mask-size: 14px;
    mask-size: 14px;
}

.side-bar__item .side-bar__description {
    height: 50px;
    position: absolute;
    left: 50px;
    top: 0;
    line-height: 50px;
    text-align: left;
    width: calc(100% - 50px);
    color: var(--sidebar-text-color);
}

.side-bar.open .side-bar__description {
    display: flex;
    opacity: 1;
}

.side-bar .side-bar__description {
    display: none;
    opacity: 0;
}

#editor {
    background: transparent;
    overflow: auto;
    width: 100%;
    min-height: 100%;
    opacity: 0;
    padding-top: 30px;
}

.top-bar {
    font-size: 0.8em;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 32px;
    background: var(--topbar-bg-color);
    color: white;
    -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;
}

.top-bar__title {
    z-index: 100000;
    color: var(--topbar-text-color);
    line-height: 30px;
    padding-left: 60px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.top-bar__buttons {
    display: flex;
    align-items: center;
    -webkit-app-region: none;
}

.top-bar__buttons .icon {
    width: 50px;
    height: 32px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;
    outline: none;
}

.top-bar__buttons .icon#close {
    background-image: url('./../icons/close.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.top-bar__buttons .icon#close:hover {
    background: red;
    background-image: url('./../icons/close.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.top-bar__buttons .icon#maximise {
    background-image: url('./../icons/maximise.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.top-bar__buttons .icon#maximise:hover {
    background: rgba(255, 255, 255, 0.1);
    background-image: url('./../icons/maximise.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.top-bar__buttons .icon#minimise {
    background-image: url('./../icons/minimise.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.top-bar__buttons .icon#minimise:hover {
    background: rgba(255, 255, 255, 0.1);
    background-image: url('./../icons/minimise.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.top-bar__buttons .icon#decrease {
    background-image: url('./../icons/decrease.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.top-bar__buttons .icon#decrease:hover {
    background: rgba(255, 255, 255, 0.1);
    background-image: url('./../icons/decrease.svg');
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    outline: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1e1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4b4b4b;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 50%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
    background: hsl(0, 0%, 70%);
}

.bottom-status-bar {
    height: 20px;
    background: var(--bottombar-bg-color);
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--bottombar-text-color);
    font-size: 12px;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    user-select: none;
}

.bottom-status-bar * {
    padding: 0px 10px;
}

#editor-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0);
}

#editor-wrapper.file-hover {
    background: rgba(255, 255, 255, 0.2);
}

.confirm-dialog {
    position: fixed;
    z-index: 1000;
    background: rgba(0, 0, 0, 0);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.confirm-dialog.animate {
    background: rgba(0, 0, 0, 0.65);
}

.confirm-dialog__wrapper {
    padding: 20px;
    display: flex;
    background: var(--dialog-bg-color);
    color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #3c3c3c;
}

.confirm-dialog__message {
    font-weight: 300;
}

.confirm-dialog__controls {
    margin-top: 40px;
}

.tabs {
    overflow-x: scroll;
    margin-top: 32px;
    display: flex;
    background: var(--tabs-bg);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}
.tabs::-webkit-scrollbar {
    display: none;
}

.tabs .tab {
    height: 32px;
    cursor: pointer;
    max-width: 200px;
    min-width: 100px;
    background: var(--tab-bg-color);
    display: flex;
    align-items: center;
    padding: 0px 10px;
    overflow: hidden;
    justify-content: center;
    border-bottom: 2px solid transparent;
}

.tabs .tab.active {
    border-bottom: 2px solid var(--tab-active-indicator-color);
}

.tab__title {
    color: var(--tab-text-color);
    flex: 1;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.tab__indicator {
    color: var(--tab-text-color);
    font-weight: bold;
    visibility: hidden;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab__indicator::after {
    display: block;
    content: ' ';
    width: 8px;
    height: 8px;
    background: #fff;
    mask: url('./../icons/close_tab.svg') no-repeat 50% 50%;
    -webkit-mask: url('./../icons/close_tab.svg') no-repeat 50% 50%;
}

.tab.dirty .tab__indicator::after {
    content: ' ';
    display: block;
    width: 8px;
    height: 8px;
    background: #fff;
    mask: url('./../icons/dirty_tab.svg') no-repeat 50% 50%;
    -webkit-mask: url('./../icons/dirty_tab.svg') no-repeat 50% 50%;
}

.tab.indicator-visible .tab__indicator {
    visibility: visible;
}
